* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* Custom Font */
@font-face {
    font-family: "netflix1";
    src: url('./fonts/NetflixSans_W_Md.woff2');
}

@font-face {
    font-family: "netflix2";
    src: url('./fonts/NetflixSans_W_Rg.woff2');
}

.background-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/background.jpg');
    position: relative;
    background-position: center;
    background-size: cover;
}

.black-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.785);
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    /* border: 1px solid white; */
    padding: 24px 33px;
}

.navbar-image {
    width: 148px;
}

.navbar-right-side {
    display: flex;
    gap: 15px;
}

.select-box-wrapper {
    position: relative;
}

#language {
    -webkit-appearance: none;
    padding: 7px 35px;
    font-size: 16px;
    font-weight: 600;
    font-family: "netflix2";
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 5px;
}

#language > option{
    color: rgb(122, 74, 74);
}

.language-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
    font-weight: 500;
    color: white;
    z-index: 1;
}

.dropdown-icon{
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
}

.button {
    background: #E50914;
    color: white;
    padding: 0px 15px;
    font-size: 15px;
    font-family: "netflix1";
    font-weight: 500;
    border-radius: 5px;
    border: none;
}

.get-started-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}